/* general */

@font-face {
    font-family: jost;
    src: url(../font/Jost.ttf);
}

:root {
    --grey: hsl(220, 18%, 97%);
    --dark-grey: hsl(0, 0%, 93%);
    --light-black: hsl(0, 0%, 40%);
    --black: hsl(0, 0%, 0%);
    --red: hsl(7, 91%, 53%);
    --white: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

*, *::before, *::after {
    font-family: jost;

    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

input {
    border: none;

    font-family: jost;
}

input:focus-visible {
    outline: none;
}

ul {
    list-style-type: none;
}

a {
    color: black;

    text-decoration: none;
}

button {
    cursor: pointer;

    background-color: transparent;
    border: none;
}

hr {
    border: 0.1rem solid #EEE;
}

.container {
    width: min(95%, 115rem);
}

.flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* header */
header .top-bar {
    background-color: var(--grey);

    padding: 1.2rem;
}

header .top-bar p {
    color: var(--light-black);
    font-size: 1.6rem;
}

header .top-bar .language {
    gap: 0.5rem;
}

header .top-bar p {
    color: var(--black);
    font-size: 1.4rem;
}

header .header nav ul {
    gap: 1.4rem;

    font-size: 1.6rem;
}

header .header nav ul li a {
    display: inline-block;

    padding: 1.2rem;
}


header .header .container div:last-child > * {
    height: 5rem;

    border: 0.1rem solid var(--dark-grey);

    padding: 1.8rem;
}

header .header svg {
    font-size: 1.6rem;
}

header .header .container div:last-child form {
    gap: 0.5rem;
}

header .header .cart {
    position: relative;
}

header .header .cart::after {
    content: "";

    display: block;

    width: 0.8rem;
    height: 0.8rem;

    border-radius: 50%;

    background-color: var(--red);

    position: absolute;
    bottom: 1.1rem;
    right: 1.7rem;
}


header .promotional{
    background-color: var(--black);

    padding: 1.2rem;

    color: var(--white);
    font-size: 1.4rem;
}

/* footer */

footer .footer {
    background-color: var(--grey);

    padding: 4rem 0;
}

footer .footer ul li:first-child, footer .footer .new-sellers p {
    padding-bottom: 1.6rem;

    font-weight: bold;
    font-size: 1.6rem;
}

footer .footer ul li a {
    display: inline-block;

    padding: 0.5rem 0;

    font-size: 1.6rem;
}

footer .footer .new-sellers form {
    background-color: var(--white);

    height: 4rem;

    border: 0.1rem solid var(--dark-grey);

    padding: 0 1.4rem;
}

footer .footer .new-sellers form input {
    flex: 90%;
}

footer .footer .new-sellers form button {
    flex: 10%;
}

footer .footer .new-sellers ul {
    gap: 1.2rem;
}

footer .copyright {
    padding: 1.4rem;
}

footer .copyright ul {
    font-size: 1.4rem;
}

footer .copyright ul li {
    border-left: 0.1rem solid var(--dark-grey);

    padding: 0 1.2rem;
}

footer .copyright ul li:first-child {
    border-left: none;
}

footer .copyright .logo {
    gap: 0.2rem;
}

footer .copyright .logo img {
    border: 0.1rem solid var(--grey);

    border-radius: 0.2rem;
}

/* url */
.url {
    background-color: white;
    color: black;
    padding: 1.2rem 1.2rem 1.2rem 6rem;
    font-size: 1.4rem;
    border-bottom: 0.1rem solid var(--dark-grey);
}

.url .deactive {
    color: hsla(0, 0%, 60%, 1);
}

.main {
    background-color: hsla(220, 18%, 97%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 0;
}

.main .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    width: min(90%, 40rem);
    background-color: white;
    padding: 5rem 0;
}

.main .card .title {
    font-weight: bold;
    font-size: 3.2rem;
}

.main .card .login-google {
    border: 0.1rem solid hsla(0, 0%, 93%, 1);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.4rem;
    position: relative;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
}

.main .card .login-google img{
    position: absolute;
    left: 2rem;
}

.main .card .divide {
    position: relative;
    width: 100%;
}

.main .card .divide-text {
    background-color: white;
    padding: 0 1.6rem;
    font-size: 1.4rem;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -0.9rem;
}

.main .card .divide-line {
    width: 100%;
    height: 0.1rem;
    background-color: hsla(0, 0%, 93%, 1);
}

.main .card form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 2rem;
}

.main .card form label{
    font-size: 1.6rem;
    font-weight: 600;
}

.main .card form input {
    border: 0.1rem solid hsla(0, 0%, 93%, 1);
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    padding: 1.4rem;
}

.main .card form .lower-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .card form .lower-part input {
    width: inherit;
}

.main .card form input[type="submit"] {
    background-color: black;
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
}

.main .card form .radioBtn {
    color: hsla(0, 0%, 40%, 1);
    font-weight: inherit;
}

.main .card form .radioBtn input {
    width: inherit;
    color: black;
}

.main .card .register-text {
    font-size: 1.4rem;
    color: hsla(0, 0%, 40%, 1);
}

.main .card a {
    font-size: 1.4rem;
    text-decoration: underline;
}


.popup {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.popup .card{
    position: relative;
    background-color: white;
}

.popup h1 {
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
}

.popup p {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}

.popup .move-up{
    position: absolute;
    top: 20rem;
    left: 0;
    right: 0;
}

.popup form {
    padding: 2rem;
    display: flex;
    gap: 2rem;
}

.popup form input {
    padding: 1.6rem;
    border: 0.1rem solid hsla(0, 0%, 40%, 1);
    flex: 6;
    font-size: 1.6rem;
}

.popup form input[type="submit"] {
    background-color: black;
    flex: 4;
    color: white;
}

.slider {
    background-color: hsla(17, 100%, 89%, 1);
    display: flex;
}

.slider .right, .slider .left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.slider .right{
    position: relative;
}

.slider img{
    padding-top: 10rem;
    width: 50rem;
    z-index: 1;
}

.slider .circle {
    width: 50rem;
    height: 50rem;
    position: absolute;
    border-radius: 50%;
    bottom: 1rem;
    background: linear-gradient(to top right, hsla(220, 68%, 57%, 0.65), hsla(220, 59%, 65%, 0.33), hsla(221, 48%, 71%, 0.06));
}

.slider .left {
    justify-content: center;
    align-items: flex-start;
    padding-left: 20rem;
    gap: 2rem;
}

.slider .left h1 {
    font-weight: 600;
    font-size: 6.4rem;
}

.slider .left p {
    font-size: 1.4rem;
}

.slider .left a{
    padding: 2rem 5rem;
    border: 0.1rem solid black;
    background-color: white;
    font-size: 1.4rem;
    font-weight: 600;
}

.collection {
    display: flex;
    justify-content: center;
}

.collection .category{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.collection .category {
    background-color: hsla(19, 39%, 94%, 1);
}

.collection .category:first-child {
    background-color: hsla(220, 38%, 97%, 1);
}

.collection .category:last-child {
    background-color: hsla(218, 33%, 97%, 1);
}

.collection .content {
    position: absolute;
    bottom: 1rem;
}

.collection .content:nth-child(1) {
    top: 1rem;
}

.collection .content h3 {
    font-size: 2.4rem;
    font-weight: 600;
}

.collection .content p {
    font-size: 1.6rem;
}

.banner {
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

}

.banner .collection {
    position: relative;
}

.banner .collection .content {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1.4rem;
    position: absolute;
    top: 50%;
    right: 30rem;
    transform: translateY(-50%);
}

.banner .collection .content h3 {
    color: white; 
    font-weight: 600;
    font-size: 6.4rem;
    text-align: right;
}

.banner .collection .content a{
    padding: 0.8rem 1.4rem;
    background-color: white;
    border: 0.1rem solid black;
    font-weight: 600;
    font-size: 1.4rem;
}

.banner .collection .content p {
    color: white;
    font-size: 1.6rem;
}

.banner .subbanner {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.cart-title {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-title h1 {
    font-size: 4.8rem;
    font-weight: bold;
}

.cart-title p {
    font-size: 1.6rem;
    color: #666;
}

.cart-box .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
    padding: 3rem 0 5rem 0;
}

.cart-box table{
    flex: 7;
     border-collapse: collapse;
}

.cart-box table tr {
    border: 0.2rem solid #EEE;
}

.cart-box table tr th {
    padding: 1.4rem 0;
    font-size: 1.4rem;
    font-weight: bold;
}

.cart-box table tr td {
    padding: 2rem 0;
    font-size: 1.4rem;
    text-align: center;
    font-size: 1.6rem;
}

.cart-box table tr .product-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

.cart-box table tr .product-name p {
    text-align: start;
}

.cart-box table tr .product-price {
    font-weight: bold;
}

.cart-box table tr .product-count input {
    width: 4rem;
    border: 0.2rem solid #EEE;
    border-left: 0;
    border-right: 0;
    text-align: center;
    height: 3.2rem;
}

.cart-box table tr .product-count button {
    border: 0.2rem solid #EEE;
    width: 3rem;
    height: 3.2rem;
}

.cart-box table .update, .cart-box table .update button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.cart-box table .update p, .cart-box table .total-price p{
    font-weight: bold;
}

.cart-box .checkout {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.cart-box .checkout div:first-child {
    box-shadow: 0px 12px 30px 0px #0000000F;
    background-color: white;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.cart-box .checkout .cart-total {
    font-weight: bold;
    font-size: 1.8rem;
}

.cart-box .checkout .sub-total {
    display: flex;
    justify-content: space-between;
}

.cart-box .checkout .sub-total p:first-child {
    font-weight: bold;
    font-size: 1.6rem;
}

.cart-box .checkout .sub-total p:last-child {
    font-weight: bold;
    font-size: 1.8rem;
}

.cart-box .checkout .shopping {
    display: flex;
    justify-content: space-between;
}

.cart-box .checkout .shopping p:first-child {
    font-weight: bold;
    font-size: 1.6rem;
}

.cart-box .checkout .shopping form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cart-box .checkout .shopping form label {
    font-weight: 500;
    font-size: 1.4rem;
}

.cart-box .checkout .shopping form label span{
    color: #999;
}

.cart-box .checkout .total {
    display: flex;
    justify-content: space-between;
}

.cart-box .checkout .total p:first-child {
    font-size: 1.6rem;
    font-weight: bold;
}

.cart-box .checkout .total p:last-child {
    font-size: 2.4rem;
    font-weight: bold;
}

.cart-box .checkout a {
    width: 100%;
    background-color: black;
    color: white;
    padding: 1.6rem 0;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.cart-box .discount p{
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 1.4rem;
}

.cart-box .discount form {
    display: flex;
    gap: 0.8rem;
    height: 4rem;
}

.cart-box .discount form input {
    border: 0.2rem solid #EEE;
    flex: 7;
    padding-left: 1.4rem;
}

.cart-box .discount form button {
    background-color: black;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    flex: 3
}