<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shop @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/all.min.js" defer></script>
</head>

<body>
    <header>
        <div class="top-bar">
            <p class="address">337 Roncesvalles Ave, Toronto</p>
            
            <button class="language">
                <img alt="flag" src="~/img/flag.png" />

                <p>USD</p>
            </button>
        </div>

        <div class="header">

            <nav>
                <ul>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Shop">Shop</a>
                    </li>

                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="NewArrivals">New Arrivals</a>
                    </li>

                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="BestSellers">Best Sellers</a>
                    </li>

                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Pages">Pages</a>
                    </li>
                </ul>
            </nav>

            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img alt="logo" src="~/img/Uniso.png" />
            </a>

            <div>
                <form>
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input placeholder="Search..." />
                </form>
                
                <a class="cart" asp-area="" asp-controller="Home" asp-action="Cart"><i class="fa-solid fa-cart-shopping"></i></a>

                <a asp-area="" asp-controller="Home" asp-action="Account"><i class="fa-regular fa-user"></i></a>
            </div>

        </div>

        <div class="promotional">
            <p>COVID 19 UPDATE: WORLDWIDE FREESHIP 🚀</p>
        </div>
    </header>


    @RenderBody()

    <footer>
        <div class="footer">
            <div class="help">
                <ul>
                    <li>HELP</li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Shop">Shipping & Returns</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Order">Track Your Order</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="StoreFinder">Store Finder</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="FAGs">FAQs</a></li>
                </ul>
            </div>

            <div class="about">
                <ul>
                    <li>ABOUT</li>
                    <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Careers">Careers</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Affiliate">Become an Affiliate</a></li>
                </ul>
            </div>

            <div class="categories">
                <ul>
                    <li>CATEGORIES</li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Shirts">Shirts</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Jeans">Jeans</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Footwear">Footwear</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Accessories">Accessories</a></li>
                </ul>
            </div>

            <div class="new-sellers">
                <p>JOIN THE LIST AND RECEIVE 15% OFF YOUR FIRST ORDER</p>

                <form>
                    <input placeholder="Your Email" />
                    <button type="submit">SEND</button>
                </form>

                <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="copyright">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">© Uniso 2020. All Rights Reserved</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                <li><a>Terms & Conditions</a></li>
            </ul>

            <img alt="payment methods" src="~/img/Payment Methods.png" />
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
