<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shop @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/all.min.js" defer></script>
</head>

<body>
    <header>
        <div class="top-bar">
            <p class="address">337 Roncesvalles Ave, Toronto</p>
            
            <button class="language">
                <img alt="flag" src="~/img/flag.png" />

                <p>USD</p>
            </button>
        </div>

        <div class="header">

            <nav>
                <ul>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Shop">Shop</a>
                    </li>

                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="NewArrivals">New Arrivals</a>
                    </li>

                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="BestSellers">Best Sellers</a>
                    </li>

                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Pages">Pages</a>
                    </li>
                </ul>
            </nav>

            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img alt="logo" src="~/img/Uniso.png" />
            </a>

            <div>
                <form>
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input placeholder="Search..." />
                </form>
                
                <i class="fa-solid fa-cart-shopping"></i>

                <i class="fa-regular fa-user"></i>
            </div>

        </div>

        <div class="promotional">
            <p>COVID 19 UPDATE: WORLDWIDE FREESHIP 🚀</p>
        </div>
    </header>


    @RenderBody()



    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
