@{
    ViewData["Title"] = "- Cart";
}

<div class="url">
    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    /
    <a asp-area="" asp-controller="Home" asp-action="Cart" class="deactive">Cart</a>
</div>

<div>
    <h1>My Cart</h1>
    <p>Items are reserved for 60 minutes</p>
</div>

<div>

</div>